// Generic Sass function / mixins

// function 
// rem
@function rem($pixels, $context: 16) {
  @return #{$pixels/$context}rem;
}

// mixin
// font size 0
@mixin fontNone {
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
}

// clear :: float 해제
@mixin clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// mobile menu
@mixin mMenu {
  left:-249px;
  width:249px;
  transition:all .3s ease-in-out;
  #wrap.active & {
    left:0;
  }
}


// variable :: width
$deviceSmallMiddle: '(max-width:1199px)';
$deviceSmall: '(max-width:767px)';
$deviceMiddle: '(min-width: 768px) and (max-width: 1199px)';
$deviceLarge: '(min-width: 1200px)';
// $non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
// $retina: '(min--moz-device-pixel-ratio: 1.5),
//                     (-o-min-device-pixel-ratio: 3/2),
//                     (-webkit-min-device-pixel-ratio: 1.5),
//                     (min-device-pixel-ratio: 1.5),
//                     (min-resolution: 144dpi),
//                     (min-resolution: 1.5dppx)';

@mixin mediaQuery($media) {
  @media only screen and #{$media} {
    @content;
  }
}