// intro
#main {
  margin:-74px 0 -200px;
  > div {
    height:100vh;
  }

  .container {
    height:100%;
    padding-top:50px;
  }

  .main-title-1 {
    color:#fff;
    font-size:rem(50);
    font-weight:700;
    line-height:1.2;
    text-align:center;
    span {
      display:block;
      margin-bottom:8px;
      font-size:rem(25);
      font-weight:500;
      letter-spacing: 3px;
    }
  }
  .main-coment {
    margin-top:20px;
    color:#fff;
    font-size:rem(20);
    font-weight:100;
    line-height:1.4;
    text-align:center;
  }

  .text-box {
    display:flex;
    flex-flow:column;
    justify-content: center;
    height:100%;
  }

  // intro
  [data-section-name='intro'] {
    background:url("../images/main_bg01.jpg") no-repeat center center;
    background-size:cover;
    &:before {
      content:'';
      display:block;
      position:absolute;
      top:74px;
      left:0;
      right:0;
      height:12px;
      background-color:$color-point;
    }
    .container {
      padding-left:28px;
    }
    .text-box {
      color:#fff;
      .text01 {
        font-size:rem(50);
        font-weight:300;
        line-height:1.4;
        strong {
          display:block;
          font-weight:700;
        }
        span {
          display:block;
          margin-top:12px;
          font-size:rem(20);
          font-weight:500;
          letter-spacing: 4px;
        }
      }
      .text02 {
        margin-top:10px;
        font-size:rem(20);
        line-height:1.5;
      }
      .detail {
        margin-top:40px;
        a {
          display:inline-block;
          width:183px;
          height:50px;
          line-height:48px;
          color:#fff;
          font-size:rem(20);
          border:1px solid #fff;
          text-align:center;
        }
      }
    }
  }

  // subject
  [data-section-name='subject'] {
    background:url("../images/main_bg02.jpg") no-repeat center center;
    background-size:cover;
    text-align:center;
    .subject-list {
      display:flex;
      justify-content: space-between;
      width:100%;
      padding:110px 30px 0 30px;
      > li {
        width:180px;
        height:300px;
        padding:30px 16px 0;
        background-color:#fff;
        border-radius:14px;
        .image {
          img {
            width:83px;
          }
        }
        .tit {
          margin-top:8px;
          padding-bottom:10px;
          color:#3f3f3f;
          font-size:rem(19);
          font-weight:700;
          line-height:1.2;
          border-bottom:2px solid #f1f1f1;
        }
        .txt {
          margin-top:10px;
          color:#2a2a2a;
          font-size:rem(15);
          line-height:1.4;
          letter-spacing: -2px;
        }
      }
    }
  }

  // infra
  [data-section-name='infra'] {
    background:url("../images/main_bg03.jpg") no-repeat center center;
    background-size:cover;
    .infra-list {
      display:flex;
      justify-content: center;
      margin:120px 0 0 0;
      li {
        padding:0 38px;
        color:#fff;
        font-size:rem(30);
        font-weight:700;
        span {
          display:flex;
          flex-flow:column;
          justify-content: center;
          align-items: center;
          width:186px;
          height:186px;
          margin:0 auto 20px;
          font-size:rem(20);
          background-color:$color-point;
          border-radius: 50%;
          img {
            margin-bottom:16px;
          }
        }
      }
    }
    
  }

  // location
  [data-section-name='location'] {
    .main-loca {
      display:flex;
      width:100%;
      padding:0 30px;
      .info {
        flex:1;
        .title {
          font-size:rem(50);
          font-weight: 100;
          line-height:1.4;
          span {
            display:block;
            color:#161616;
            font-size:rem(20);
            font-weight:300;
          }
          strong {
            display:block;
            font-weight:700;
          }
        }
        ul {
          margin:28px 85px 0 0;
          padding:28px 0 0 0;
          border-top:1px solid #ccc;
          li {
            position:relative;
            margin-top:10px;
            &:nth-child(3) {
              margin-top:18px;
            }
            .icon {
              display:inline-block;
              width:22px;
              margin-right:6px;
              text-align:center;
            }
            .text01 {
              display:inline-block;
              color:#181818;
              font-size:rem(20);
              font-weight:700;
              line-height:1.5;
            }
            .text02 {
              margin-top:8px;
              color:#161616;
              font-size:rem(20);
              font-weight:500;
              line-height:1.5;
              span {
                display:block;
              }
            }
          }
        }
      }
      .map {
        width:744px;
        height:433px;
      }
    }
    
  }

  // mobile
  @include mediaQuery($deviceSmall){
    margin:-52px 0 -60px;
    .container {
      padding-top:52px;
    }
    .main-title-1 {
      font-size:rem(30);
      font-weight:400;
      span {
        margin-bottom:6px;
        font-size:rem(9);
        letter-spacing: 3px;
      }
      strong {
        font-weight:700;
      }
    }
    .main-coment {
      margin-top:6px;
      font-size:rem(10);
      font-weight:500;
    }

    // intro
    [data-section-name='intro'] {
      padding-bottom:54%;
      background-image:url("../images/main_m_bg01.jpg");
      &:before {
        top:52px;
        height:6px;
      }
      .container {
        padding-left:0;
      }
      .text-box {
        text-align:center;
        .text01 {
          font-size:rem(27);
          span {
            margin-top:10px;
            font-size:rem(10);
          }
        }
        .text02 {
          margin-top:8px;
          font-size:rem(11);
        }
        .detail {
          margin-top:18px;
          a {
            width:110px;
            height:30px;
            line-height:28px;
            font-size:rem(11);
          }
        }
      }
    }

    // subject
    [data-section-name='subject'] {
      background-image:url("../images/main_m_bg02.jpg");
      .subject-list {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        width:100%;
        padding:30px 12px 0 12px;
        > li {
          width:32%;
          height:165px;
          margin:0.5%;
          padding:15px 5px 0;
          border-radius:9px;
          .image {
            img {
              width:46px;
            }
          }
          .tit {
            margin-top:5px;
            padding-bottom:5px;
            font-size:rem(11);
            border-bottom-width:1px;
          }
          .txt {
            margin-top:4px;
            font-size:rem(9);
            letter-spacing: -1px;
          }
        }
      }
    }

    // infra
    [data-section-name='infra'] {
      background-image:url("../images/main_m_bg03.jpg");
      .infra-list {
        flex-wrap:wrap;
        margin:12px 45px 30px 45px;
        li {
          width:50%;
          margin-top:18px;
          padding:0;
          font-size:rem(13);
          text-align:center;
          span {
            width:93px;
            height:93px;
            margin-bottom:10px;
            font-size:rem(10);
            img {
              margin-bottom:8px;
              zoom:0.5;
            }
          }
        }
      }
      
    }

    // location
    [data-section-name='location'] {
      padding-bottom:60px;
      .main-loca {
        flex-flow: column;
        padding:0 12px;
        text-align:center;
        .info {
          .title {
            font-size:rem(30);
            font-weight: 300;
            span {
              font-size:rem(9);
            }
          }
          ul {
            margin:18px 0 20px 0;
            padding:0 0 0 0;
            border-top:none;
            li {
              margin-top:6px;
              line-height:1.2;
              &:nth-child(3) {
                margin-top:12px;
              }
              .icon {
                display:inline-block;
                width:12px;
                margin:-5px 2px 0 0;
                text-align:center;
                vertical-align: middle;
                img {
                  vertical-align: middle;
                  zoom:0.5;
                }
              }
              .text01 {
                font-size:rem(11);
              }
              .text02 {
                margin-top:4px;
                color:#6b6b6b;
                font-size:rem(9);
                font-weight:500;
                line-height:1.5;
                span {
                  display:block;
                }
              }
            }
          }
        }
        .map {
          width:100%;
          height:223px;
          border:1px solid #ddd;
        }
      }
      
    }

  }

}