// data tb
.data-tb-1 {
  margin-top:55px;
  table {
    width:100%;
    th,
    td {
      padding:22px 0 20px 0;
      color:#000;
      font-size:rem(20);
      font-weight:500;
      line-height:1.3;
      border-left:1px solid #cad0d2;
      border-bottom:1px solid #cad0d2;
      text-align:center;
      &:first-child {
        border-left:none;
      }
    }
    thead {
      th {
        color:#fff;
        font-weight:700;
        border-left-color:#fff;
        border-bottom:3px solid #636363;
        background-color:$color-point;
        span {
          font-weight:700;
        }
      }
    }
    tbody {
      th {
        font-weight:700;
        background-color:#fff2e2;
      }
    }
  }

  // mobile
  @include mediaQuery($deviceSmall){
    margin-top:25px;
    padding:0 13px;
    table {
      th,
      td {
        padding:13px 0 12px 0;
        font-size:rem(10);
      }
      thead {
        th {
          padding:6px 0 5px 0;
          span {
            display:block;
            font-weight:700;
          }
        }
      }
      tbody {
        th {
          font-weight:700;
        }
      }
    }
  }
}